@import './variables.scss';
@import './mixins.scss';

#app {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;

  background-color: #fff;

  #opensettings {
    @include absoluteCenter;
    @include buttonActive;

    z-index: 1;

    padding: 10px 20px;
    color: $deeppink;
    border: 2px solid $deeppink;

    font: { size: 18px; weight: bold; }

    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.15);
    outline: none;

    &:hover {
      outline: 1px solid rgba($deeppink, 0.7);
      outline-offset: 3px;
    }
  }

}
