@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900');

*, *:after, *:before {
  padding: 0; margin: 0;
  box-sizing: border-box;
}

*:not(i) { font-family: 'Source Sans Pro', sans-serif }

ul {
  list-style: none;
}

button {
  background: none; border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input {
  &:focus { outline: none; }
}

a {
  text-decoration: none;
}

html, body {
  width: 100vw; height: 100vh;
}

body {
  position: fixed;
  overflow: hidden;
}
