@mixin absoluteCenter {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexContentAbsoluteCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonActive {
  &:active { margin-top: 1px; outline: none; }
}
